<div>
        <p id="footerLogos">
            <a href="http://www.facebook.com"><i class="fa fa-fw fa-instagram" aria-hidden="true"></i></a>
            <a href="http://www.facebook.com"><i class="fa fa-fw fa-facebook" aria-hidden="true"></i></a>
            <a href="http://www.facebook.com"><i class="fa fa-fw fa-youtube-play" aria-hidden="true"></i></a>
            <a href="http://www.twitter.com"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i></a>
            <a href="http://www.facebook.com"><i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i></a>
        </p>
</div>

<div>
    <p id="footerLabel">
        © 2017 Navjot Singh All Rights Reserved
    </p>
</div>


<script 
    type="text/javascript"
	src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous">
</script>

<script type="text/javascript" 
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
</script>

    </body>
</html>