<!DOCTYPE html>
<html>
		<head>
				<title>Navgraphy</title>
				
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
				<link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">
				<link rel="stylesheet" href="/stylesheet/masonry.css">
	      		<link rel="stylesheet" href="/stylesheet/main.css">
	      		<script 
				    type="text/javascript"
					src="https://code.jquery.com/jquery-3.2.1.min.js"
					integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
				    crossorigin="anonymous">
				</script>
				<script type="text/javascript" 
				    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
				</script>
				
				<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
		
		</head>
	<body>
<header>	
	<nav class="navbar navbar-default transparent">
		<div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
				<div id="logo" class="container-fluid">
					<div class="row" style="display:flex; flex-wrap: wrap;">
						<div class="col-md-12">
							<div class="thumbnail">
								<img src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/t/59ff5d44e31d19456386befc/1513436302601/?format=750w">
							</div>
						</div>
					</div>
				</div>
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span id="menucollapse">MENU</span>
		      </button>
		    </div>
		
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <div id="navbar" class="nav navbar-nav">
				<li id="categorie"><a href="/portfolio">PORTFOLIO</a></li>
				<li id="categorie"><a href="/creations">CREATIONS</a></li>
				<li id="categorie"><a href="/movie">MOVIE</a></li>
				<li id="categorie"><a href="/clients">CLIENTS</a></li>
				<li id="categorie"><a href="/about">ABOUT</a></li>
				<li id="categorie"><a href="/contact">CONTACT</a></li>
			</div>
		    </div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
</header>	