body {
	background: url(https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/5923e2daa5790abfac7de144/59273981be65943682942214/1495742870165/I+feel+it.jpg?format=2500w);
	background-size: cover;
	background-position: top;
	font-family: 'Source Serif Pro', serif;
	
	color: white;
}

#landing-header {
  text-align: center;
	font-weight: 700;
	font-size: 5em;
	max-width: 900px;
	margin: 0 auto;
	margin-top: 450px;
}

html {
	height: 100%;
}

#content {
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.4);

}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);

}