<% include ./partials/header %>


<body id="bodyabout">
<div id="aboutContainer" class="container-fluid">
	<div class="row" style="display:flex; flex-wrap: wrap;">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div id="aboutthumb" class="thumbnail">
				<img src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/t/5983a2d6c534a5814d9223ff/1501799158479/I+feel+it.jpg?format=2500w">
			</div>
			<div class ="about">
				<p id="aboutTitle">
					<strong>NAVJOT SINGH</strong>
				</p>
				<p>
					Born and bred in Switzerland, with roots in India, Navjot Singh began very early to deal with photography and filming.
					He always put his whole hearted passion into every picture and movie which he produces. 
					For him, the most important things have always been quality and aesthetics.
					Since the beginning, he has been trying to create the images that he imagines in his head. Whether it's a picture or movie.
				</p>
				<p>	
					Pablo Picasso's famous quote: "Everything you can imagine is real" has inspired him so much, that he has made it to his life's motto. No matter what he imagines, be it a simple portrait or a special visual creation. Everything is possible! As you can easily recognise in his picture style, he takes off with "creations" and his way of filming the crowd.
					His goal is always to provide the highest quality that is possible.
					He is the founder and CEO of Navgraphy. 
					Navgraphy is his artist name. It's a very simple combination of Navjot and Photography. This name stands for his passion, the best possible quality and his love for detail.
				</p>
				<p>	
					He always try's to present something in a new light. His core competences include art, portrait, business, commercial and fashion photography/videography. He expands his portfolio daily and he also expands his network successively through partnerships with companies, brands and model managements such as IB Suisse AG or Beneva.
				</p>
			</div>
			
			<div class ="about">
				<p id="aboutTitle">
					<strong>NAVGRAPHY</strong>
				</p>
				<p>
					NAVGRAPHY is a SWITZERLAND based visual communication agency with a fashion, modern art, music-movie and lifestyle focus. We are creators, strategists, producers, directors and writers who share a passion for hard work, thoughtful design, impactful strategies and making our clients happy. 
				</p>
				<p>	
					We believe messaging is an emotional and intellectual experience. We look to create balanced solutions that reach consumers in innovative ways. Whether we’re developing a new startup or evolving a legendary brand, we work to translate our clients’ unique story and deliver proven results. 
				</p>
			</div>
		</div>
	</div>
</div>
</body>

<% include ./partials/footer %>