<% include ./partials/header %>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		  <div id="contact_text">
        <h5>CONTACT ME FOR ANY INFORMATION YOU NEED</h5>
        <div id="contact_text_adress">
          <p>Navjot Singh</p>
          <p>Bahnhofstrasse 63</p>
          <p>4313 Möhlin</p>
        </div>
        <div id="contact_text_contact">
          <p><strong>Mobil:</strong> 078 911 99 73</p>
          <p><strong>Email:</strong> <a href="http://navgraphy@gmail.com">Navgraphy@gmail.com</a></p>
      </div>
    </div>
  </div>
</div>





<% include ./partials/footer %>