<% include ./partials/header %>

<div class="container-fluid">
	<div class="row" style="display:flex; flex-wrap: wrap;">
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="thumbnail">
				<img src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/5923e2daa5790abfac7de144/59dc8afcf5e2317170f553d0/1507625737123/Long+term+stars.jpg?format=2500w">
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="thumbnail">
				<img src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/5923e2daa5790abfac7de144/59cb655c03596e191e4f1aec/1506502049461/Think+bigger+1.jpg?format=1000w">
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="thumbnail">
				<img src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/5923e2daa5790abfac7de144/59273981be65943682942214/1495742870165/I+feel+it.jpg?format=2500w">
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="thumbnail">
				<img src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/5923e2daa5790abfac7de144/5974745fa5790aef87e18ba3/1500804272903/Playing+with+trains-2.jpg?format=1000w">
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="thumbnail">
				<img src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/5923e2daa5790abfac7de144/5923e81f37c5816ce3479520/1495742878810/Roche+Turm-2.jpg?format=1500w">
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="thumbnail">
				<img src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/5923e2daa5790abfac7de144/5923e64446c3c49b332cfc44/1499091055432/Jump+%21-3.jpg?format=1500w">
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="thumbnail">
				<img src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/5923e2daa5790abfac7de144/5923e6b0bebafb6bfb074b65/1501627836921/moved+me-2.jpg?format=1500w">
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="thumbnail">
				<img src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/5923e2daa5790abfac7de144/595a50354402439a881a3f28/1508084938223/Henok+mirror+tunnel.jpg?format=1500w">
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="thumbnail">
				<img src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/5923e2daa5790abfac7de144/5923e5ad59cc68d66c1a7b88/1508084938325/Absorb+it.jpg?format=2500w">
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="thumbnail">
				<img src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/5923e2daa5790abfac7de144/5923e6b92994ca183d7b974f/1508084938324/Navstar+new.jpg?format=2500w">
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="thumbnail">
				<img src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/5923e2daa5790abfac7de144/5923e6c91b10e3c3a8ac5811/1508084938336/Pixels-2.jpg?format=2500w">
			</div>
		</div>
	</div>				
</div>

<% include ./partials/footer %>