<% include ./partials/header %>
	<title>Masonry Layout with Mazonry Plugin</title>
	
	<style>
	* {
	  -webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
		  box-sizing: border-box;
	}
	#masonry {
	    width: 100%;
	    margin: 0 auto;
	    
	}

	.item {
	  float: inherit;
	  padding: O;
	  margin:0;
	}

	
	#neu {min-width: 10px;max-width: 600px;min-height: 50px; background:#cfcfcf }

	</style>
</head>
<body>

	<div id='masonry' >
	  <img id="neu" class="item thumbnail" src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/592ac3b9c534a5adf882f2e0/5982eda4b8a79b0ae04c5ad3/1511344574420/Olivia+down.jpg?format=1500w">
	    <img id="neu" class="item thumbnail" src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/592ac3b9c534a5adf882f2e0/5982eda415d5db8a0c3981c8/1513436293397/Olivia+beach.jpg?format=750w">
        <img id="neu" class="item thumbnail" src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/592ac3b9c534a5adf882f2e0/5a15548e085229dcccfbdf09/1513436293402/November+2.jpg?format=1000w">
        <img id="neu" class="item thumbnail" src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/592ac3b9c534a5adf882f2e0/5966a1adccf210c11cac21cc/1513436293405/Sara+.jpg?format=750w">
        <img id="neu" class="item thumbnail" src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/592ac3b9c534a5adf882f2e0/59807cde7131a5eb0400d99a/1513436293402/Dosenwickler.jpg?format=750w">
        <img id="neu" class="item thumbnail" src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/592ac3b9c534a5adf882f2e0/5a15554a085229dcccfbf0d1/1513436293540/Dosenwickel.jpg?format=2500w">
        <img id="neu" class="item thumbnail" src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/592ac3b9c534a5adf882f2e0/59b26400a8b2b050d1c7e517/1513436293544/Salome+light.jpg?format=2500w">
        <img id="neu" class="item thumbnail" src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/592ac3b9c534a5adf882f2e0/59638c7459cc6871fe00f485/1513436293542/Ayleen+Studio+best.jpg?format=750w">
        <img id="neu" class="item thumbnail" src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/592ac3b9c534a5adf882f2e0/5966a257c534a55c94fa8a87/1513436293602/Kevin+17.jpg?format=750w">
        <img id="neu" class="item thumbnail" src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/592ac3b9c534a5adf882f2e0/5966a249a5790a4b875ee96d/1513436293607/Kevin+17+3.jpg?format=750w">
        <img id="neu" class="item thumbnail" src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/592ac3b9c534a5adf882f2e0/5966a24a3a0411b0aadec7b6/1513436293947/Kevin+17+4.jpg?format=2500w">
        <img id="neu" class="item thumbnail" src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/592ac3b9c534a5adf882f2e0/5966a36ea803bba8bc0335a6/1513436293604/.jpg?format=1500w">
        <img id="neu" class="item thumbnail" src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/592ac3b9c534a5adf882f2e0/5966b0384c8b03c8de4b97a7/1513436293733/Flamenco+neu.jpg?format=1500w">
        <img id="neu" class="item thumbnail" src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/592ac3b9c534a5adf882f2e0/5966a0dad482e9baabc7209a/1513436293738/Celine+RHF+2-Wiederhergestellt.jpg?format=2500w">
        <img id="neu" class="item thumbnail" src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/592ac3b9c534a5adf882f2e0/5966a0e829687fa6e7f405a7/1513436293739/Celine+RHF-Wiederhergestellt.jpg?format=750w">
	</div>


<script 
	type="text/javascript"
	src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous">
</script>
<script type="text/javascript" 
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
</script>
				
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>
var container = document.querySelector('#masonry');
var msnry = new Masonry( container, {
  columnWidth: 50,
  itemSelector: '.item'
});
</script>


</body>
</html>