<% include ./partials/header %>


<div class="container" id="movieTitle">
    <div class="row">
        <h2>SAN</h2>
    </div>
</div>

<div class="container">
        <div class="embed-responsive embed-responsive-16by9" id="movieEmbeded">
            <iframe width="854" height="480" src="https://www.youtube.com/embed/Y78zM8n0Ips" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>
</div>
<div class="container movieDescription">
    <p>
        <p>Director/DoP: Navjot Singh</p>
        <p>Assistant/2. DoP: Jasjot Singh</p>
        <p>Music: White Wolf Studios</p>
    </p>
</div>

<!-- Another movie -->
<div class="container" id="movieTitle">
    <div class="row">
        <h2>SAN Teaser</h2>
    </div>
</div>

<div class="container">
        <div class="embed-responsive embed-responsive-16by9" id="movieEmbeded">
            <iframe src="https://player.vimeo.com/video/241408855" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
</div>
<div class="container movieDescription">
    <p>
        <p>Director/DoP: Navjot Singh</p>
        <p>Assistant/2. DoP: Jasjot Singh</p>
        <p>Music: White Wolf Studios</p>
    </p>
</div>

<!-- Another movie -->
<div class="container" id="movieTitle">
    <div class="row">
        <h2>Audi S3 the beginning</h2>
    </div>
</div>

<div class="container">
        <div class="embed-responsive embed-responsive-16by9" id="movieEmbeded">
            <iframe width="854" height="480" src="https://www.youtube.com/embed/BTN7ql2D59g" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>
</div>
<div class="container movieDescription">
    <p>
        <p>Director and DoP: Navjot Singh</p>
        <p>1. Assistant: Jasjot Singh</p>
    </p>
</div>

<!-- Another movie -->
<div class="container" id="movieTitle">
    <div class="row">
        <h2>The walk</h2>
    </div>
</div>

<div class="container">
        <div class="embed-responsive embed-responsive-16by9" id="movieEmbeded">
            <iframe src="https://player.vimeo.com/video/197784619" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
</div>
<div class="container movieDescription">
    <p>
        <p>Director and DoP: Navjot Singh</p>
    </p>
</div>




<% include ./partials/footer %>