<% include ./partials/header %>

<div class="container-fluid">
	<div class="row" >
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="thumbnail">
				<img src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/592ac3b9c534a5adf882f2e0/5982eda4b8a79b0ae04c5ad3/1511344574420/Olivia+down.jpg?format=1500w">
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="thumbnail">
				<img src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/592ac3b9c534a5adf882f2e0/5982eda415d5db8a0c3981c8/1513436293397/Olivia+beach.jpg?format=750w">
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="thumbnail">
				<img src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/592ac3b9c534a5adf882f2e0/5a15548e085229dcccfbdf09/1513436293402/November+2.jpg?format=1000w">
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="thumbnail">
				<img src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/592ac3b9c534a5adf882f2e0/5966a1adccf210c11cac21cc/1513436293405/Sara+.jpg?format=750w">
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="thumbnail">
				<img src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/592ac3b9c534a5adf882f2e0/59807cde7131a5eb0400d99a/1513436293402/Dosenwickler.jpg?format=750w">
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="thumbnail">
				<img src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/592ac3b9c534a5adf882f2e0/5a15554a085229dcccfbf0d1/1513436293540/Dosenwickel.jpg?format=2500w">
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="thumbnail">
				<img src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/592ac3b9c534a5adf882f2e0/59b26400a8b2b050d1c7e517/1513436293544/Salome+light.jpg?format=2500w">
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="thumbnail">
				<img src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/592ac3b9c534a5adf882f2e0/59638c7459cc6871fe00f485/1513436293542/Ayleen+Studio+best.jpg?format=750w">
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="thumbnail">
				<img src="https://static1.squarespace.com/static/59220879e58c62c542e0f6bd/592ac3b9c534a5adf882f2e0/59638d0d2e69cf4151758e2c/1513436293605/Ayleen+Studio.jpg?format=1500w">
			</div>
		</div>
	</div>				
</div>


<% include ./partials/footer %>